<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- custom css file link  -->
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Federo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
  <title>VideoHome</title>

</head>

<body>
  <!-- header section starts  -->
  <header class="header" style="background: rgb(28 45 92 / 70%); box-shadow: rgba(0, 0, 0, 0.4) 0px 0.2rem 0.5rem;">
    <a href="/views/index.html" class="logo" style="font-family: 'Nanum Brush Script', cursive; font-size: 40px; color: #fff;"><i
        class="fas fa-graduation-cap"></i> scholarSPACE</a>
    <div class="fas fa-bars"></div>
    <nav class="navbar">

    </nav>
  </header>
  <!-- header section ends -->
  <!-- home section starts  -->
  <section id="home" class="home">
    <div>
      <h1 style="color: rgb(93, 85, 201);">Teacher 1</h1>
    </div>
    <br>
    <div>
      <video width="500px" height="300px" controls>
        <source src="/uploads/ary.mp4">
      </video>
      <video width="500px" height="300px" controls>
        <source src="/uploads/ary.mp4">
      </video>
      <video width="500px" height="300px" controls>
        <source src="/uploads/ary.mp4">
      </video>
      <video width="500px" height="300px" controls>
        <source src="/uploads/ary.mp4">
      </video>
      <video width="500px" height="300px" controls>
        <source src="/uploads/ary.mp4">
      </video>
      <video width="500px" height="300px" controls>
        <source src="/uploads/ary.mp4">
      </video>
    </div>



    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

  </section>
  <!-- home section ends -->

  <!-- team section starts  -->
  <section id="team" class="team">
    <h1 class="heading" style="text-shadow: 2px 2px #2b2626;">FACULTIES</h1>
    <div class="row">
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/prakhar.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Anmol Ranjan</h3>
          {{!-- <span>C++</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/prakhar.saxena.5667/" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/prakhar-saxena-867b89195/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/prakhar.07_/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/saumya.jpg" alt="">
        </div>
        <div class="info">
          <h3>Saumya Patel</h3>
          {{!-- <span>DBMS</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/saumya.patel.5811" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/saumya-patel-204a4419a/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/somi__178/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/nitant.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Abhishek Kumar Singh</h3>
          {{!-- <span>JAVA PROGRAMMING</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/nitant.gupta.311" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/nitant-gupta-0214091b9/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/nitant_08/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/prakhar.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Anmol Ranjan</h3>
          {{!-- <span>C++</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/prakhar.saxena.5667/" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/prakhar-saxena-867b89195/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/prakhar.07_/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/saumya.jpg" alt="">
        </div>
        <div class="info">
          <h3>Saumya Patel</h3>
          {{!-- <span>DBMS</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/saumya.patel.5811" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/saumya-patel-204a4419a/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/somi__178/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/nitant.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Abhishek Kumar Singh</h3>
          {{!-- <span>JAVA PROGRAMMING</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/nitant.gupta.311" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/nitant-gupta-0214091b9/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/nitant_08/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/prakhar.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Anmol Ranjan</h3>
          {{!-- <span>C++</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/prakhar.saxena.5667/" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/prakhar-saxena-867b89195/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/prakhar.07_/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/saumya.jpg" alt="">
        </div>
        <div class="info">
          <h3>Saumya Patel</h3>
          {{!-- <span>DBMS</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/saumya.patel.5811" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/saumya-patel-204a4419a/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/somi__178/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
      <div class="card" style="margin: 5rem; width: 41rem; height: 45rem;">
        <div class="image">
          <img src="/public/images/nitant.jpeg" alt="">
        </div>
        <div class="info">
          <h3>Abhishek Kumar Singh</h3>
          {{!-- <span>JAVA PROGRAMMING</span> --}}
          <div class="icons">
            <a href="https://www.facebook.com/nitant.gupta.311" target="_blank" class="fab fa-facebook-f"></a>
            <a href="https://www.linkedin.com/in/nitant-gupta-0214091b9/" target="_blank" class="fab fa-linkedin"></a>
            <a href="https://www.instagram.com/nitant_08/" target="_blank" class="fab fa-instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team section ends -->
  <!-- contact section starts  -->
  <section id="contact" class="contact">
    <h1 class="heading" style="text-shadow: 2px 2px #b6b1b1;">CONTACT US</h1>
    <div class="row">
      <div class="image">
        <img src="/public/images/undraw_contact_us_15o2.svg" alt="">
      </div>
      <div class="form-container" style="color:#fff; ">
        <form action="/auth/contact" method="POST">
          <div class="inputBox">
            <input type="text" name="fname" id="fname" placeholder="first name" required>
            <input type="text" name="lname" id="lname" placeholder="last name" required>
          </div>
          <input type="email" name="email" id="email" placeholder="email" required>
          <textarea name="msg" id="msg" cols="30" rows="10" placeholder="message" required></textarea>
          <input type="submit" value="send">
        </form>
      </div>
    </div>
  </section>
  <!-- contact section ends  -->
  <!-- footer section starts  -->
  <section class="footer" style="background:#1c2d5cb3;">
    <h1 style="color:rgb(255 255 255);">Anmol Ranjan | all rights reserved.</h1>
  </section>
  <!-- footer section ends  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/public/js/main.js"></script>
</body>

</html>